<!DOCTYPE html>
<html>
  <head>
    <title>SPOTIFY RECOMMENDER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='animation.css') }}">

  </head>
  <body>
    <div class="stars"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>  
  <h1>WELCOME TO SPOTIFY RECOMMENDER 2.O</h1>
  <a href="/login">Login with Spotify</a>
  
</body>
</html>
